@charset "UTF-8";
/************************ PAGE PRINCIPALE ********************************/
/* Loader */
.circle_box {
  top: 454px;
  width: 10%;
  left: 20%;
  position: fixed;
}

.chargement {
  top: 456px;
  width: 10%;
  left: 40%;
  position: fixed;
}

.circle {
  width: 62px;
  height: 62px;
  border-radius: 50px;
  border: 6px solid grey;
}

.circle:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  animation: spin 1s linear infinite;
}

/* First button */
/* Second button */
/* Button image */
/* Button Like */
/* Button Nouveau */
/* Display des cartes pour les moyen et grands écrans */
/***************************** PAGE DES MENUS ***************************************/
/* Button Home */
/* Bannières des différentes pages */
/* Keyframes */
@keyframes entrées_déroulantes {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
    transform: translateY(6px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(4px);
  }
  75% {
    opacity: 0.75;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(1px);
  }
}
@keyframes degrade_coeur {
  0% {
    fill: #ae80e5;
  }
  25% {
    fill: #c389e5;
  }
  50% {
    fill: #d891e5;
  }
  75% {
    fill: #ec9be6;
  }
  100% {
    fill: #fface8;
  }
}
@keyframes out {
  0% {
    width: 100%;
    opacity: 1;
  }
  99% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animations */
.a {
  animation-name: entrées_déroulantes;
  animation-duration: 0.5s;
}

.b {
  animation-name: entrées_déroulantes;
  animation-duration: 1s;
}

.c {
  animation-name: entrées_déroulantes;
  animation-duration: 1.5s;
}

.d {
  animation-name: entrées_déroulantes;
  animation-duration: 2s;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

h4 {
  font-size: 1.5em;
  margin: 5%;
  font-weight: normal;
}

h4 span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 6px;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

/*Les différents boutons avec Médias queries intégrées*/
/******************************** PAGE PRINCIPALE **************************************/
@media only screen and (max-width:780px) {
  .btn {
    width: 60%;
    height: 60px;
    margin: 0 20% 10% 20%;
    border-radius: 40px;
    color: white;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    padding: 20px 10px 10px 10px;
    box-shadow: 5px 5px 8px #a8a6a6;
    background: linear-gradient(#FF79DA, #9356DC);
  }
  .btn:hover {
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .btn {
    width: 60%;
    height: 90px;
    margin: 0 20% 10% 20%;
    border-radius: 80px;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    padding: 25px 60px 10px 50px;
    text-align: center;
    box-shadow: 5px 5px 8px #a8a6a6;
    background: linear-gradient(#FF79DA, #9356DC);
  }
  .btn:hover {
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  }
}
@media only screen and (min-width: 1200px) {
  .btn {
    width: 60%;
    height: 110px;
    margin: 0% 20% 10% 20%;
    border-radius: 110px;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    padding: 20px 60px 10px 50px;
    text-align: center;
    box-shadow: 5px 5px 8px #a8a6a6;
    background: linear-gradient(#FF79DA, #9356DC);
  }
  .btn:hover {
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  }
}

@media only screen and (max-width:780px) {
  .btn2 {
    display: flex;
    width: 90%;
    height: 75px;
    margin: 10px 5% 30px 5%;
    text-align: center;
    border: 0px solid white;
    border-radius: 25px;
    background-color: #f3f0f0;
    box-shadow: 5px 5px 8px #e9e4e4;
  }
  .btn2 .puce {
    height: 25px;
    width: 25px;
    padding-top: 3px;
    border-radius: 100%;
    position: relative;
    right: 10px;
    top: 22px;
    font-size: 0.6;
    color: white;
    text-align: center;
    background-color: #9356DC;
  }
  .btn2 .icon {
    margin-left: 15px;
    position: relative;
    top: 25px;
  }
  .btn2 .choix {
    display: block;
    position: relative;
    align-content: center;
    padding-top: 9px;
    font-size: 1em;
    justify-content: center;
    left: 5%;
  }
  .btn2:hover {
    background-color: #e9ddf8;
    color: #9356DC;
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .btn2 {
    display: flex;
    width: 70%;
    height: 90px;
    margin: 10px 15% 30px 15%;
    border: 0px solid white;
    border-radius: 25px;
    background-color: #f3f0f0;
    box-shadow: 5px 5px 8px #e9e4e4;
    font-size: 1.5em;
    font-weight: bold;
  }
  .btn2 .puce {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: relative;
    right: 10px;
    top: 27px;
    color: white;
    text-align: center;
    background-color: #9356DC;
  }
  .btn2 .icon {
    display: flex;
    position: relative;
    top: 25px;
    left: 30px;
  }
  .btn2 .choix {
    display: flex;
    position: relative;
    width: 85%;
    align-content: center;
    justify-content: center;
    bottom: 8px;
  }
  .btn2:hover {
    background-color: #e9ddf8;
    color: #9356DC;
  }
}
@media only screen and (min-width: 1200px) {
  .btn2 {
    display: flex;
    width: 50%;
    margin: 20px 25% 20px 25%;
    height: 110px;
    border: 0px solid white;
    border-radius: 35px;
    background-color: #f3f0f0;
    box-shadow: 5px 5px 8px #e9e4e4;
    font-size: 2em;
    font-weight: bold;
  }
  .btn2 .puce {
    opacity: 1;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    right: 20px;
    top: 37px;
    color: white;
    text-align: center;
    background-color: #9356DC;
  }
  .btn2 .icon {
    display: flex;
    position: relative;
    top: 40px;
  }
  .btn2 .choix {
    padding-top: 10px;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    left: 20%;
    bottom: 6px;
  }
  .btn2:hover {
    background-color: #e9ddf8;
    color: #9356DC;
  }
}

@media only screen and (max-width:780px) {
  .img__bouton {
    width: 90%;
    margin: 0 5% 0 5%;
    height: 200px;
    border-radius: 15px 15px 0 0;
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .img__bouton {
    display: flex;
    justify-content: space-between;
    margin: 0%;
    width: 80%;
    height: 170px;
    border-radius: 15px 15px 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  .img__bouton {
    width: 90%;
    height: 170px;
    border-radius: 25px 25px 0 0;
  }
}

@media only screen and (max-width:780px) {
  .like {
    cursor: pointer;
    width: 90%;
    height: 65px;
    margin: 0 5% 0 5%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 8px #e9e4e4;
    background-color: white;
    position: relative;
    bottom: 15px;
    display: flex;
    font-size: 0.8em;
  }
  .like__name {
    position: relative;
    left: 20px;
    width: 80%;
    margin-bottom: 5px;
  }
  .like .coeur {
    height: 30px;
    width: 30px;
  }
  .like .coeur .coeur_svg {
    position: relative;
    top: 15px;
    height: 30px;
    width: 30px;
    fill: transparent;
    stroke: black;
  }
  .like .coeur .coeur_svg:hover {
    animation-name: degrade_coeur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .like {
    cursor: pointer;
    width: 80%;
    height: 60px;
    margin: 0%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 8px #e9e4e4;
    background-color: white;
    position: relative;
    bottom: 20px;
    display: flex;
    font-size: 0.8em;
  }
  .like__name {
    position: relative;
    left: 20px;
    width: 80%;
    margin-bottom: 5px;
  }
  .like .coeur {
    height: 30px;
    width: 30px;
  }
  .like .coeur_svg {
    position: relative;
    top: 15px;
    height: 30px;
    width: 30px;
    fill: transparent;
    stroke: black;
  }
  .like .coeur_svg:hover {
    animation-name: degrade_coeur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
@media only screen and (min-width: 1200px) {
  .like {
    cursor: pointer;
    width: 90%;
    height: 60px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 5px 8px #e9e4e4;
    background-color: white;
    position: relative;
    bottom: 20px;
    display: flex;
    font-size: 0.8em;
  }
  .like__name {
    position: relative;
    left: 20px;
    width: 80%;
    margin-bottom: 5px;
    font-size: 1em;
  }
  .like .coeur {
    height: 30px;
    width: 30px;
  }
  .like .coeur .coeur_svg {
    position: relative;
    top: 15px;
    height: 30px;
    width: 30px;
    fill: transparent;
    stroke: black;
  }
  .like .coeur .coeur_svg:hover {
    animation-name: degrade_coeur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@media only screen and (max-width:780px) {
  .nouveau {
    position: relative;
    z-index: 2;
    top: 45px;
    left: 70%;
    width: 20%;
    height: 30px;
    background-color: #a0cfa0;
    font-size: 0.8em;
    font-size: bold;
    color: #0c8a0c;
    text-align: center;
    padding-top: 7px;
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .nouveau {
    position: relative;
    z-index: 2;
    top: 45px;
    left: 55%;
    width: 20%;
    height: 30px;
    background-color: #a0cfa0;
    font-size: 0.8em;
    font-size: bold;
    color: #0c8a0c;
    text-align: center;
    padding-top: 7px;
  }
}
@media only screen and (min-width: 1200px) {
  .nouveau {
    position: relative;
    z-index: 2;
    top: 45px;
    left: 55%;
    width: 25%;
    height: 30px;
    background-color: #a0cfa0;
    font-size: 1em;
    font-size: bold;
    color: #0c8a0c;
    text-align: center;
    padding-top: 5px;
  }
}

/***************************** PAGE DES MENUS ****************************************/
.entrée, .plat, .dessert {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 80px;
  margin: 5%;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  background: white;
}
.entrée__name, .entrée .plat__name, .entrée .dessert__name, .plat__name, .plat .plat__name, .plat .dessert__name, .dessert__name, .dessert .plat__name, .dessert .dessert__name {
  width: 100%;
  height: 80px;
  margin-right: 10px;
  margin-left: 10px;
}
.entrée.prix, .plat.prix, .dessert.prix {
  display: flex;
  height: 80px;
  width: 100%;
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;
}
.entrée .checkbox, .plat .checkbox, .dessert .checkbox {
  position: relative;
  transition: transform 0.7s;
  transition-property: width;
  transition-delay: 0.5;
  transition-duration: 1;
  transition-timing-function: ease-in-out;
  border-radius: 0 10px 10px 0;
  width: 0px;
  height: 80px;
  color: #99E2D0;
  background-color: #99E2D0;
}
.entrée .checkbox__img, .plat .checkbox__img, .dessert .checkbox__img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  left: 25%;
  top: 25px;
  transition-delay: 0.5s;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.entrée:hover .checkbox, .plat:hover .checkbox, .dessert:hover .checkbox {
  position: relative;
  border-radius: 0 10px 10px 0;
  width: 70px;
  height: 80px;
  transform: width;
  transition-property: width;
  transition-delay: 0.5;
  transition-duration: 1;
  transition-timing-function: ease-in-out;
}
.entrée:hover .checkbox__img, .plat:hover .checkbox__img, .dessert:hover .checkbox__img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: 25%;
  justify-content: center;
  transform: rotate(360deg);
  transition-delay: 0.1s;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

header {
  height: 10%;
  width: 100%;
}

.loader {
  position: fixed;
  z-index: 10;
  background-color: blue;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  animation-name: out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

/******************************** PAGE PRINCIPALE ************************************/
.title {
  width: 75%;
  margin: 0px;
}
.title img {
  width: 75%;
  margin: 20px 25% 20px 25%;
}

.locate {
  border: none;
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
  box-shadow: inset 0px 5px 10px #888888;
  background-color: #e2e2e2;
}

.locate i {
  position: absolute;
  width: 27%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: right;
}

input {
  border: none;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 27px 22px -37px #181818;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  background-color: #e2e2e2;
}
input:active {
  border: none;
  text-decoration: none;
}

.reserve {
  display: block;
  width: 70%;
  height: 10%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 5%;
  font-size: 1.1em;
}

.bloc {
  background-color: #f3f0f0;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 0 0 0 0;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10%;
}

.bloc_page {
  background-color: #f3f0f0;
  padding: 20px 0 20px 0;
  margin: 0px;
}

@media only screen and (min-width:780px) and (max-width: 1200px) {
  .carte {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1200px) {
  .carte {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/******************************** PAGES DES MENUS ******************************************/
@media only screen and (max-width:780px) {
  .home {
    display: flex;
    width: 100%;
    height: 40px;
    padding-top: 1%;
    margin-bottom: 2%;
  }
  .home__btn {
    width: 10%;
    height: 100px;
  }
  .home__btn__img {
    position: relative;
    left: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
  }
  .home .home__title2 {
    width: 60%;
    height: 40px;
    margin-left: 10%;
    margin-right: 20%;
  }
  .home .home__title2 img {
    height: 30px;
    width: 100%;
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .home {
    display: flex;
    width: 100%;
    height: 80px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .home__btn {
    width: 10%;
    height: 100px;
  }
  .home__btn__img {
    position: relative;
    left: 10px;
    color: black;
    font-weight: bold;
    font-size: 3em;
  }
  .home .home__title2 {
    width: 60%;
    height: 40px;
    margin-left: 10%;
    margin-right: 20%;
  }
  .home .home__title2 img {
    height: 60px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .home {
    display: flex;
    width: 100%;
    height: 120px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .home__btn {
    width: 10%;
    height: 100px;
  }
  .home__btn__img {
    position: relative;
    left: 10px;
    color: black;
    font-weight: bold;
    font-size: 4em;
  }
  .home .home__title2 {
    width: 60%;
    height: 40px;
    margin-left: 10%;
    margin-right: 20%;
  }
  .home .home__title2 img {
    height: 80px;
    width: 100%;
  }
}

@media only screen and (max-width:780px) {
  .banniere {
    width: 100%;
    height: 200px;
    z-index: 1;
  }
  .banniere__img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .banniere {
    width: 100%;
    height: 300px;
    z-index: 1;
  }
  .banniere__img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .banniere {
    width: 100%;
    height: 500px;
    z-index: 1;
  }
  .banniere__img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width:780px) {
  .onglet {
    display: flex;
    width: 100%;
    height: 80px;
  }
  .onglet .name_restaurant {
    display: inline-block;
    width: 80%;
  }
  .onglet .like_title {
    position: relative;
    top: 28%;
    right: 2%;
    width: 10%;
  }
  .onglet .like_title .coeur_svg {
    position: relative;
    left: 80%;
    height: 30px;
    width: 30px;
    fill: transparent;
    stroke: black;
  }
  .onglet .like_title .coeur_svg:hover {
    animation-name: degrade_coeur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
@media only screen and (min-width:780px) and (max-width: 1200px) {
  .onglet {
    display: flex;
    width: 100%;
    height: 80px;
  }
  .onglet .name_restaurant {
    display: inline-block;
    width: 85%;
    font-size: 2em;
    padding: 0 4% 10% 4%;
  }
  .onglet .like_title {
    position: relative;
    top: 84%;
    left: 7%;
    width: 10%;
  }
  .onglet .like_title .coeur_svg {
    position: relative;
    height: 100%;
    width: 100%;
    fill: transparent;
    stroke: black;
  }
  .onglet .like_title .coeur_svg:hover {
    animation-name: degrade_coeur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
@media only screen and (min-width: 1200px) {
  .onglet {
    display: flex;
    width: 100%;
    height: 80px;
  }
  .onglet .name_restaurant {
    display: inline-block;
    width: 80%;
    font-size: 2.5em;
  }
  .onglet .like_title {
    position: relative;
    top: 95%;
    left: 4%;
    width: 10%;
  }
  .onglet .like_title .coeur_svg {
    position: relative;
    left: 80%;
    height: 30px;
    width: 30px;
    fill: transparent;
    stroke: black;
  }
  .onglet .like_title .coeur_svg:hover {
    animation-name: degrade_coeur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

.bloc1 {
  z-index: 5;
  position: relative;
  bottom: 15px;
  border-radius: 20px 20px 0 0;
  background-color: #f3f0f0;
}

.entrée, .plat, .dessert {
  padding-left: 10px;
  box-shadow: 5px 5px 8px #e2dede;
}

.prix {
  position: relative;
  top: 30px;
  padding-right: 10px;
  font-size: 1em;
  font-weight: bold;
}

.entrée__name, .plat__name, .dessert__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  color: white;
  background-color: black;
  font-size: 1.4em;
  font-weight: bold;
  height: 10%;
  width: 100%;
  margin: 0px;
  padding: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
