/*Les différents boutons avec Médias queries intégrées*/

.btn {  
    @include btn;
    @include btn_medium;  
    @include btn_large;
    
}

.btn2 {
    @include btn2;
    @include btn2_medium;
    @include btn2_large;
}

.img__bouton {
    @include btn_image;
    @include btn_image_medium;
    @include btn_image_large;
   
}

.like { 
    @include btn_like;
    @include btn_like_medium;
    @include btn_like_large;
}

.nouveau {
    @include btn_nouveau;
    @include btn_nouveau_medium;
    @include btn_nouveau_large;
}
    

.btn_home {
    @include btn_home;  
    @include btn_home_medium;
    @include btn_home_large;     
} 




.checkbox {
    border-radius:0 10px 10px 0;
    width: 70px;
    height: 80px;
    color: $third;
    background-color: $third;
    
        &__img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            position: relative;
            left: 20px;
            top: 25px;

            &:hover {
                transform: rotate(360deg);
                transition-delay: 0.3s;
                transition-duration: 1s;
            }
        }
}


.reserve {
    width :90%;
    margin:auto;
}

a {
    text-decoration: none;
}

.bloc {
    background-color: rgb(243, 240, 240);
    padding: 20px;
    margin: 0 0 0 0;
    justify-content: center;
    text-align: justify;
}

input {
    
    border: none;
    height: 100%;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(226, 226, 226);
     &:active {
         border: none;
         text-decoration: none;
     }
       
}

.locate {
    display:flex;
    width: 100%;
    background-color: rgb(226, 226, 226);
        &__logo {
            width: 30%;
            padding-left: 24%; 
            padding-top: 10px;
            padding-bottom: 10px;
        }

}


