/*Les différents boutons avec Médias queries intégrées*/

/******************************** PAGE PRINCIPALE **************************************/

.btn {  
    @include btn;
    @include btn_medium;  
    @include btn_large;   
}

.btn2 {
    
    @include btn2;
    @include btn2_medium;
    @include btn2_large;
}

.img__bouton {
    @include btn_image;
    @include btn_image_medium;
    @include btn_image_large;   
}

.like { 
    @include btn_like;
    @include btn_like_medium;
    @include btn_like_large;
}

.nouveau {
    @include btn_nouveau;
    @include btn_nouveau_medium;
    @include btn_nouveau_large;
}
    
/***************************** PAGE DES MENUS ****************************************/ 

.entrée,.plat,.dessert {
    cursor: pointer;
    overflow:hidden;
    position: relative; 
    width:90%;
    height: 80px;
    margin: 5%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    background: rgb(255, 255, 255);
        &__name,.plat__name,.dessert__name {
            width: 100%;
            height: 80px;
            margin-right: 10px;
            margin-left: 10px;
        }   
            &.prix {
                display:flex;
                height: 80px;
                width: 100%; 
                margin-top: 20px;
                
                font-size: 1em;
                font-weight: bold;
            }
            .checkbox {
                position: relative;
                transition: transform 0.7s;                     
                transition-property: width ; 
                transition-delay: 0.5;  
                transition-duration: 1; 
                transition-timing-function: ease-in-out;                                                      
                border-radius:0 10px 10px 0;
                width:0px;
                height: 80px;                             
                color: $third;
                background-color: $third;                                       
                    &__img {                      
                        width: 30px;
                        height: 30px;
                        border-radius: 100%; 
                        position: absolute;                                                                                                                   
                        left:25%;
                        top: 25px;                                      
                                                                                                                                                                                                                                                     
                    }
            }                   
}
                                    
.entrée,.plat,.dessert {
    &:hover {
        .checkbox {           
            position: relative;                       
            border-radius:0 10px 10px 0;
            width: 70px;
            height: 80px; 
            transform: width;               
            transition-property: width ; 
            transition-delay: 0.5;  
            transition-duration: 1; 
            transition-timing-function: ease-in-out; 
                                                                      
                &__img {                                      
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    position: absolute;                    
                    top: 25px;
                    left:25%;
                    justify-content: center;                            
                    transform: rotate(360deg);                                        
                    transition-delay: 0.1s;
                    transition-duration: 0.7s; 
                    transition-timing-function: ease-in-out;                                                                                               
                }
        }
    }
}



    


