@keyframes entrées_déroulantes {
    0% {
        opacity: 0;
    }

    25% {
        opacity:0.25;
        transform: translateY(6px)
    }

    50% {
        opacity:0.5;
        transform: translateY(4px)
    }

    75% {
        
        opacity:0.75;
        transform: translateY(2px)
    }
        
    100% {
        
        opacity:1;
        transform: translateY(1px)
    }
}

@keyframes plats_déroulants {
    0% {
        opacity: 0;
    }

    70% {
        
        opacity:0;
    }
        
    100% {
        opacity:1;
    }
}

@keyframes desserts_déroulantes {
    0% {
        opacity: 0;
    }

    70% {
        
        opacity:0;
    }
        
    100% {
        opacity:1;
    }
}