/* Keyframes */

@keyframes entrées_déroulantes {
    0% {
        opacity: 0;
    }

    25% {
        opacity:0.25;
        transform: translateY(6px)
    }

    50% {
        opacity:0.5;
        transform: translateY(4px)
    }

    75% {
        
        opacity:0.75;
        transform: translateY(2px)
    }
        
    100% {
        
        opacity:1;
        transform: translateY(1px)
    }
}

@keyframes degrade_coeur {
    0% {
        fill: lighten(#9356DC,10);;
    }

    25% {
        fill: lighten(#AE5FDC,10)
    }

    50% {
        fill:lighten(#C968DB,10);
    }

    75% {
        fill:lighten(#E470DB, 10);
    }

    100% {
        fill: lighten(#FF79DA, 10)
    }
}
@keyframes out {
    
    0% {
        width: 100%; opacity:1;
    }

    99% {
        width: 100%; opacity:1;
    }
    
    100% {
        width: 0%; opacity:0;
    }
  }
  
@keyframes spin {
    0% {
        transform:rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Animations */

.a {
    animation-name:entrées_déroulantes;
    animation-duration:0.5s;
 }
 
.b {
    animation-name :entrées_déroulantes;
    animation-duration: 1s;
 }
 
.c {
    animation-name :entrées_déroulantes;
    animation-duration: 1.5s;
}

.d {
    animation-name :entrées_déroulantes;
    animation-duration: 2s;
}
 

