/* First button */

@mixin btn {
    @media #{$phone} {
           
    width:70%;
    height:40px;
    margin:15%;
    border-radius: 40px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;  
    padding: 10px 0px 10px 0px;
    background: linear-gradient($second, $primary);
        &:hover {
            background: linear-gradient($second-light, $primary-light);
        }
    }
}

@mixin btn_medium {
    @media #{$medium} {

    width:70%;
    height:60px;
    margin:15%;
    border-radius: 80px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 60px 10px 50px;
    text-align: center;
    background: linear-gradient($second, $primary);
        &:hover {
            background: linear-gradient($second-light, $primary-light);
        }
    }
}

@mixin btn_large {
    @media #{$large} {

    width:50%;
    height:100px;
    margin:auto;
    border-radius: 80px;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    padding: 20px 60px 10px 50px;
    text-align: center;
    background: linear-gradient($second, $primary);
        &:hover {
            background: linear-gradient($second-light, $primary-light);
        }
    }
}

/* Second button */

@mixin btn2 {
    @media #{$phone} {

    display:flex;
    width:70%;
    height: 35px;
    margin: 10px 15% 30px 15%;
    text-align: center;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(243, 240, 240);
    box-shadow:  5px 5px 18px #888888;
    .puce {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        position: relative;
        right: 10px;
        top: 7px;
        color: white;
        text-align: center;
        background-color: $primary;
    }
            .icon {
                position: relative;
                top: 10px;
            }
                .choix {
                    position: relative;
                    text-align: center;
                    bottom: 6px;
                    left: 5%;
                }
                        &:hover {
                            background-color: lighten($primary, 32);
                            color: $primary;
                        }
    }
}

@mixin btn2_medium {
    @media #{$medium} {

    display:flex;
    width: 70%;
    height: 55px;
    margin: 10px 15% 30px 15%;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgb(243, 240, 240);
    box-shadow:  5px 5px 18px #888888;
    font-size: 1.5em;
    font-weight: bold;
    .puce {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        position: relative;
        right: 10px;
        top: 7px;
        color: white;
        text-align: center;
        background-color: $primary;
    }
            .icon {
                position: relative;
                top: 15px;
                left: 30px;
            }
                .choix {
                    position: relative;
                    width: 75%;
                    padding-left: 25%;
                    padding-right: 0;
                    bottom: 8px;
                }
                        &:hover {
                            background-color: lighten($primary, 32);
                            color: $primary;
                        }   
    }
}

@mixin btn2_large {
    @media #{$large} {

    display:flex;
    width: 50%;
    margin: 20px 25% 20px 25%;
    height: 85px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 35px;
    background-color: rgb(243, 240, 240);
    box-shadow:  5px 5px 18px #888888;
    font-size: 2em;
    font-weight: bold;

    .puce {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        position: relative;
        right: 10px;
        top: 17px;
        color: white;
        text-align: center;
        background-color: $primary;
    }
            .icon {
                position: relative;
                top: 25px;
            }
                .choix {
                    position: relative;
                    left: 20%;
                    bottom: 6px;
                }
                        &:hover {
                            background-color: lighten($primary, 32);
                            color: $primary;                           
                        }   
    }
}

/* Button image */

@mixin btn_image {
    @media #{$phone} {

        width: 90%;
        margin: 0 5% 0 5%;
        height: 200px;
        border-radius: 15px 15px 0 0;       
    }
}
        
@mixin btn_image_medium {
    @media #{$medium} {
    display: flex;
    justify-content: space-between;
    margin: 0%;
    width: 80%;
    height: 170px;
    border-radius: 15px 15px 0 0;
    }
}

@mixin btn_image_large {
    @media #{$large} {

    width: 90%;
    height: 170px;
    border-radius: 25px 25px 0 0;
    }
}

@mixin btn_like {
    @media #{$phone} {
        cursor: pointer;
            width: 90%;
            height: 65px;
            margin: 0 5% 0 5%;
            border-radius: 0px 0px 15px 15px;
            background-color: rgb(255, 255, 255);
            position: relative;
            bottom: 15px;
            display: flex;
            font-size: 0.8em;
    
            &__name {
                position: relative;
                left: 20px;
                width: 50%;
                margin-bottom: 5px;                
            }
                .coeur {
                    position: relative;
                    left: 40%;
                    top: 15px;
                        &:hover {
                            color: red;                            
                        }                        
                }      
    }     
}  
  
@mixin btn_like_medium {
    @media #{$medium} {
        cursor: pointer;
            width: 80%;
            height: 60px;
            margin: 0%;
            border-radius: 0px 0px 15px 15px;
            background-color: rgb(255, 255, 255);
            position: relative;
            bottom: 20px;
            display: flex;
            font-size: 0.8em;
    
            &__name {
                position: relative;
                left: 20px;
                width: 50%;
                margin-bottom: 5px;
            }
                .coeur {
                    position: relative;
                    left: 75px;
                    top: 15px;
                        &:hover {
                            color: red;                           
                        }
                }      
    }     
}  

@mixin btn_like_large {
    @media #{$large} {
        cursor: pointer;
            width: 90%;
            height: 60px;
            border-radius: 0px 0px 25px 25px;
            background-color: rgb(255, 255, 255);
            position: relative;
            bottom: 20px;
            display: flex;
            font-size: 0.8em;
    
            &__name {
                position: relative;
                left: 20px;
                width: 50%;
                margin-bottom: 5px;
                font-size: 1em;               
            }
                .coeur {
                    position: relative;
                    left: 80px;
                    top: 15px;
                        &:hover {
                            color: red;                           
                        }
                }      
    }     
}  

@mixin btn_nouveau {
    @media #{$phone} {
        position: relative;
        z-index: +2;
        top: 45px;
        left: 70%;
        width: 20%;
        height: 30px;
        background-color: rgb(160, 207, 160);
        font-size: 0.8em;
        font-size: bold;
        color: rgb(12, 138, 12);
        text-align: center;
        padding-top: 7px;
    }
}

@mixin btn_nouveau_medium {
    @media #{$medium} {
            position: relative;
            z-index: +2;
            top: 45px;
            left: 55%;
            width: 20%;
            height: 30px;
            background-color: rgb(160, 207, 160);
            font-size: 0.8em;
            font-size: bold;
            color: rgb(12, 138, 12);
            text-align: center;
            padding-top: 7px;       
    }
}

@mixin btn_nouveau_large {
    @media #{$large} {
        position: relative;
        z-index: +2;
        top: 45px;
        left: 55%;
        width: 25%;
        height: 30px;
        background-color: rgb(160, 207, 160);
        font-size: 1em;
        font-size: bold;
        color: rgb(12, 138, 12);
        text-align: center;
        padding-top: 5px; 
    }
}

@mixin carte_medium {
    @media #{$medium} {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@mixin carte_large {
    @media #{$large} {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
}


@mixin btn_home {
    @media #{$phone} {
        position: relative;
        left : 10%;
        top: 25px;  
        font-size: bold;
             &__img {
                color: black;
                font-weight: bold;
                font-size: 2em;
            }
    }
}

@mixin btn_home_medium {
    @media #{$medium} {
        position: relative;
        left : 10%;
        top: 25px;  
        font-size: bold;
             &__img {
                color: black;
                font-weight: bold;
                font-size: 2em;
            }
    }
}

@mixin btn_home_large {
    @media #{$large} {
        position: relative;
        left : 10%;
        top: 25px;  
        font-size: bold;
             &__img {
                color: black;
                font-weight: bold;
                font-size: 2em;
            }
    }
}