$primary: #9356DC;
$second: #FF79DA;
$third: #99E2D0;

$primary-light: rgba(147, 86, 220,0.9);
$second-light: rgba(255, 121, 218,0.9);

$phone:"only screen and (max-width:760px)";
$medium:"only screen and (min-width:760px) and(max-width: 1200px)";
$large:"only screen and (min-width: 1200px)";




